<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Person</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>

<p th:if="${books.size() > 0}"> 
<p>Books: </p> 
<p th:each="book : ${books}" 
th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>

<p th:if="${books.size() == 0}" th:text="Person didn't take any books"/>

<hr/>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}">
<input type="submit" value="Edit"/>
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
<input type="submit" value="Delete"/>
</form>
</body>
</html>